/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Variables */
:root{
 --basic-black: #000000;
 --basic-red: #FB565A;
 --basic-extra-red: #E74246;
 --basic-dark: #283136;
 --basic-white: #ffffff;
 --basic-grey: #E1E1E1;
 --basic-border-form: #D7DCDE;

 --special-bg-top: #EEEEEE;
 --dark-red: #D7373B;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 5px;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
}

.none-title {
  display: none;
}

/* Main header */

.main-header {
  background-color: var(--special-bg-top);
}

.main-header-logo img:hover,
.main-header-logo img:focus {
  opacity: 0.7;
}

.main-header-logo img:active {
  opacity: 0.3;
}

/* Main navigation */

.main-navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 160px 1fr -webkit-min-content;
  -ms-grid-columns: 160px 1fr min-content;
  grid-template-columns: 160px 1fr -webkit-min-content;
  grid-template-columns: 160px 1fr min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0;
  line-height: 30px;
  min-height: 65px;
  margin-top: 50px;
  color: var(--basic-black);
}

.main-navigation-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr -webkit-min-content;
  -ms-grid-columns: 1fr min-content;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  background-color: var(--special-bg-top);
}

.site-navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  margin-bottom: 10px;
  padding: 0;
}

.site-navigation li {
  display: block;
  margin-right: 45px;
  margin-bottom: 20px;
}

/* User navigation */

.user-shape {
  position: relative;
  margin-top: 35px;
  margin-bottom: 10px;
}

.user-shape::before {
  content: "";
  position: absolute;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 8px;
  left: -40px;
  width: 20px;
  height: 20px;
}

.site-navigation a,
.user-shape a {
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 500;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-shape a:hover,
.user-shape a:focus {
  color: var(--basic-red);
}

.site-navigation a:active,
.user-shape a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current a:not([href]) {
  color: var(--basic-black);
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: -12px;
  left: 0px;
  height: 2px;
  width: 99%;
  background-color: var(--basic-red);
}

/* slider */

.slider .container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slide h3 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  padding: 0;
}

.slide p {
  margin: 25px 0 55px;
}

.slider-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 760px;
  grid-template-columns: 1fr 760px;
  margin: 0;
  padding: 0;
}

.slider {
  background-color: var(--special-bg-top);
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.slider-promo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  padding-top: 78px;
}

.slider-image {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin: 0;
  padding: 0;
  width: 760px;
  height: 431px;
}

.slider-image-1 {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  width: 760px;
  height: 431px;
  margin: 0;
  padding: 0;
}

.button-more {
  padding: 15px 55px;
}

.slider .container {
  position: relative;
}

.slider-controls {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 100px;
  left: 540px;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 88px;
}

.slider-controls button {
  position: relative;
  padding: 0;
  width: 17px;
  height: 17px;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: transparent;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  z-index: 2;
}

/* Content container */

.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-bottom: 90px;
  list-style: none;
  border-bottom: 2px solid var(--special-bg-top);
}

.service {
  text-align: left;
  width: 300px;
}

.service img {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.service h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.service p {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.service .button {
  padding: 16px 40px;
  margin: 0;
}

.service .button-app {
  background-color: #00CA74;
}

.service .button-app:hover,
.service .button-app:focus {
  background-color: #00BC6C;
}

.service .button-app:active {
  background-color: #00AA62;
}

.service .button-present {
  background-color: #EFC849;
}

.service .button-present:hover,
.service .button-present:focus {
  background-color: #EAB534;
}

.service .button-present:active {
  background-color: #E5A722;
}

/* aside */

.aside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 150px 360px;
  grid-template-columns: 1fr 360px;
  gap: 25px 150px;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.aside div {
  margin: 0;
  padding: 0;
}

.aside div:last-of-type h4 {
  text-align: center;
}

.aside h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 34px 0;
}

.aside h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.aside p {
  padding: 0;
}

.aside-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.aside-list li {
  position: relative;
  padding-left: 30px;
  padding-bottom: 25px;
}

.aside-list li:last-child {
  padding-bottom: 0;
}

.aside-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.facts {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fact {
  margin-right: 20px;
  margin-top: 15px;
}

.fact:last-child {
  margin-right: 0;
}

.fact-percent {
  margin: 0;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.fact-percent sup {
  font-size: 25px;
  line-height: 40px;
}

.fact-text {
  margin: 0;
  padding: 0;
}

/* Clients */

.clients {
  margin-bottom: 70px;
  padding: 0;
}

.client img {
  opacity: 0.2;
  margin: 0;
  padding: 0;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.client img:hover,
.client img:focus {
  opacity: 1;
}

.client img:active {
  opacity: 0.1;
}

.client-list {
  position: relative;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.client-list::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 1160px;
  height: 2px;
  background-color: var(--special-bg-top);
}

.client-list::after {
  content: "";
  position: absolute;
  left: 0;
  top: 180px;
  width: 1160px;
  height: 2px;
  background-color: var(--special-bg-top);
}

.client-list li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  height: 180px;
  width: 278px;
}

.client-list li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 65px;
  width: 2px;
  height: 50px;
  background-color: var(--special-bg-top);
}

.client-list li:first-child::after {
  content: "";
  display: none;
}

/* lists */

li {
  list-style: none;
}

.products a {
  color: var(--basic-black);
}

/* Button */

.button {
  font: inherit;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.button:hover,
.button:focus {
  background-color: var(--basic-extra-red);
}

.button:active {
  background-color: var(--dark-red);
  color: rgba(255,255,255,0.3);
  -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.10);
          box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.10);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
}

/* catalog */

.filter-title, .products h2 {
  display: none;
}

.page-title {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  background-color: var(--special-bg-top);
  padding: 0;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 110px;
  margin-bottom: 55px;
}

.page-catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 140px 578px 140px 578px;
  grid-template-columns: 260px 578px 578px;
  -ms-grid-rows: -webkit-min-content 50px -webkit-min-content;
  -ms-grid-rows: min-content 50px min-content;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  gap: 50px 140px;
  margin-bottom: 60px;
}

.page-catalog > *:nth-child(1) {
 -ms-grid-row: 1;
 -ms-grid-column: 1;
}

.page-catalog > *:nth-child(2) {
 -ms-grid-row: 1;
 -ms-grid-column: 3;
}

.page-catalog > *:nth-child(3) {
 -ms-grid-row: 1;
 -ms-grid-column: 5;
}

.page-catalog > *:nth-child(4) {
 -ms-grid-row: 3;
 -ms-grid-column: 1;
}

.page-catalog > *:nth-child(5) {
 -ms-grid-row: 3;
 -ms-grid-column: 3;
}

.page-catalog > *:nth-child(6) {
 -ms-grid-row: 3;
 -ms-grid-column: 5;
}

.sort {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.products {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.filter {
  border: none;
}

.filters {
  grid-row: 1 / -1;
}

/* sort */

.sort {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 50px 485px 50px -webkit-min-content;
  -ms-grid-columns: min-content 50px 485px 50px min-content;
  grid-template-columns: -webkit-min-content 485px -webkit-min-content;
  grid-template-columns: min-content 485px min-content;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.sort h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.sort-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sort-item  {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  margin-right: 25px;
}

.sort-item:last-child {
  margin-right: 0;
}

.sort-item-current {
  opacity: 1;
}

.sort-item:hover,
.sort-item:focus {
  opacity: 0.6;
}

.sort-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.sort-button button {
  border: 0;
  background-position: 0 0;
  background-color: var(--basic-white);
  width: 0;
  height: 0;
  padding: 0;
  margin: auto;
}

.sort-button .button-down {
  margin: 0;
  margin-right: 18px;
  border-style: solid;
  border-width: 10px 5px 0;
  border-color: var(--basic-black) transparent transparent;
  opacity: 0.2;
}

.sort-button .button-up {
  margin: 0;
  border-style: solid;
  border-width: 0 5px 10px;
  border-color: transparent transparent var(--basic-black);
  opacity: 0.3;
}

.sort-button .sort-button-current {
  opacity: 1;
}

.sort-button button:hover,
.sort-button button:focus {
  opacity: 0.6;
}

/* filter catalog */

.filters {
  -ms-flex-line-pack: start;
      align-content: start;
}

fieldset {
  padding: 0;
  margin: 0;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;
  margin: 0 auto;
}

.button-filters {
  color: var(--basic-black);
  padding: 15px 90px;
  background-color: var(--special-bg-top);
  font-weight: 500;
}

.button-filters:hover,
.button-filters:focus,
.button-filters:active {
  background-color: #DFDFDF;
}

.button-filters:active {
  background-color: #D5D5D5;
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
          box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
}

.filters .filter-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.filter:first-of-type .filter-name {
  margin-bottom: 50px;
}

.filter-form ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter {
  margin-bottom: 30px;
}

.range-filter {
  width: 260px;
  margin-bottom: 20px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-border-form);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: #ababab;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-dark);
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.filter-option {
  line-height: 20px;
  margin-left: 35px;
  margin-bottom: 20px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-spetial + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #4d4d4d;
  border-radius: 3px;
  opacity: 0.4;
  z-index: 1;
}

.filter-spetial:checked + label::after {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
  z-index: 5;
}

.filter-net + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 17px;
  height: 17px;
  border: 5px solid #4d4d4d;
  border-radius: 20px;
  opacity: 0.4;
  z-index: 1;
}

.filter-net:checked + label::after {
  content: "";
  position: absolute;
  left: -26px;
  top: 5px;
  width: 9px;
  height: 9px;
  background-color: #4d4d4d;
  border-radius: 9px;
  opacity: 0.4;
}

.filter-spetial:disabled + label::before,
.filter-net:disabled + label::before {
  opacity: 0.1;
}

.filter-spetial:disabled + label,
.filter-net:disabled + label {
  opacity: 0.3;
}

.filter-spetial:hover + label::before,
.filter-spetial:hover + label::after,
.filter-net:hover + label::before,
.filter-net:hover + label::after {
  opacity: 1;
}

/* Pagination нумерация страниц каталога*/

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-list li {
  margin-right: 10px;
}

.pagination-list li:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 15px 20px;
  color: var(--basic-black);
  background-color: var(--special-bg-top);
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #dfdfdf;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
          box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
}

.pagination-item-current a {
  padding: 13px 18px;
  background-color: var(--basic-white);
  border: 3px solid #dfdfdf;
}

.pagination-button .button {
  padding: 15px 80px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--special-bg-top);
  border-radius: 3px;
}

.pagination-button .button:hover,
.pagination-button .button:focus {
  background-color: #dfdfdf;
}

.pagination-button .button:active {
  background-color: #dfdfdf;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
          box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
}

/* catalog */

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.products-item {
  position: relative;
  width: 358px;
  min-height: 578px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.suffix {
  position: absolute;
  content: "";
  width: 360px;
  height: 40px;
  top: -40px;
  left: 0;
  opacity: 0.12;
  margin: 0;
  padding: 0;
}

.products-item:hover .suffix,
.products-item:focus .suffix,
.products-item:active .suffix {
  opacity: 1;
}

.products-item img {
  margin: 0;
  padding: 0;
}

.product-image {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 6px 6px;
}

.product-inform {
  position: absolute;
  content: "";
  min-height: 160px;
  width: 358px;
  bottom: 8px;
  left: 1px;
  background-color: var(--special-bg-top);
  text-align: center;
  padding-top: 25px;
  padding-bottom: 45px;
  border-radius: 0 0 6px 6px;
}

.products-item:hover .product-image,
.products-item:focus .product-image {
  -webkit-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.product-inform h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  width: 255px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.product-inform p {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 255px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.product-inform .button {
  padding: 15px 72px;
}

.product-inform:hover h3,
.product-inform:focus h3 {
  color: var(--basic-red);
}

.product-inform:active h3 {
  color: var(--basic-black);
  opacity: 0.3;
}

.product-inform .button:hover,
.product-inform .button:focus {
  background-color: var(--basic-extra-red);
}

.product-inform .button:active {
  background-color: var(--dark-red);
}

/* main footer */

.footer-contacts{
  margin: 0 auto;
  margin-bottom: 65px;
  position: relative;
  display: block;
}

.map-container {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.map-img {
  margin: 0 auto;
}

.map-info {
  content: "";
  position: absolute;
  top: 55px;
  left: 140px;
  background: var(--basic-white);
  margin: 0;
  padding: 50px;
}

.map-info h3 {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 23px;
}

.map-info p {
  line-height: 18px;
  color: #666666;
}

.contacts-phone {
  color: inherit;
}

.map-info .button {
  display: block;
  padding: 15px 45px;
  margin-top: 35px;
}

.footer-social-button .social-button {
  display: block;
  position: relative;
  background-color: var(--basic-grey);
  width: 81px;
  height: 81px;
  border-radius: 50%;
  margin: 0;
  margin-right: 10px;
}

.social-button img {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.social-button:last-child {
  margin-right: 0;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-extra-red);
}

.social-button:active {
  background-color: var(--dark-red);
}

.social-button:active img {
  opacity: 0.3;
}

.footer-social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: 140px;
}

.footer-social{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  min-height: 81px;
  margin-bottom: 70px;
}

.footer-text h3 {
  font-size: 36px;
  font-weight: 700px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.footer-text p {
  line-height: 22px;
  margin: 0;
  padding: 0;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 960px;
  height: 590px;
  margin: auto;
  padding: 60px 100px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--basic-white);
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.modal-form {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.modal-form h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin: 0;
  margin-bottom: 20px;
}

.modal-close {
  content: "";
  position: absolute;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url("../img/close-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  opacity: 0.3;
  z-index: 5;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.form-contact input[type="email"],
.form-contact input[type="text"],
.form-contact textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid var(--basic-border-form);
  border-radius: 3px;
  height: 50px;
  width: 360px;
  padding: 15px;
}

.form-contact input[type="email"]:hover,
.form-contact input[type="text"]:hover,
.form-contact textarea:hover {
  border: 2px solid #B4B9BB;
}

.form-contact input[type="email"]:focus,
.form-contact input[type="text"]:focus,
.form-contact textarea:focus {
  border: 2px solid var(--basic-black);
}

.form-contact input[type="email"]:disabled,
.form-contact input[type="text"]:disabled,
.form-contact textarea:disabled {
  border: 2px solid var(--basic-extra-red);
  color: var(--basic-extra-red);
}

.form-contact input[type="email"],
.form-contact input[type="text"] {
  padding: 16px 14px;
}

.form-contact textarea {
  height: 118px;
  width: 760px;
}

.form-contact label {
  display: block;
  padding-bottom: 9px;
}

.button-form {
  font-size: 16px;
  font-weight: 500;
  padding: 16px 83px;
  margin: 0;
}

.modal-show {
display: block;
-webkit-animation: bounce 0.6s;
        animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

/* Animations */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
